main{
    font-family: 'Exo 2', sans-serif;
}

@keyframes txt-animation{
    0%{background-position: left;}
    100%{background-position: right;}
}

:root{
    --gradient: linear-gradient(
        45deg,
        #ff001e,
        #751a0f
    );

    --gradientb: linear-gradient(
        45deg,
        #bdc3c7,
        #2c3e50
    );

    --gradientc: linear-gradient(
        45deg,
        rgb(36, 255, 178),
        rgb(10, 126, 85)
    );
}



body{
    color: black;
    background-color: #1e1e24;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    width: 1rem;
}
body::-webkit-scrollbar-track{
    background: #151518;

}
body::-webkit-scrollbar-thumb{
    background: #23232e;

}
main{
    margin-left: 10rem;
    padding: 1rem;
}

.navbar {
    width: 10rem;
    height: 100vh;
    position: fixed;
    background-color: #151518;
    transition: width 200ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.nav-item{
    width: 100%;

}

.nav-item:last-child{
    margin-top: auto !important;

}

.nav-link{
    display:flex;
    align-items: center;
    height: 7rem;
    color: #b6b6b6;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;

}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background:#101013 ;
    color: #ececec;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    min-width: 5rem;
    margin: 0 1.5rem;

}

.navbar:hover{
    width: 15.5rem;
}
.navbar:hover .link-text {
    display: block;
}



.fa-primary{
    color: #F21616;
}
.fa-secondary{
    color: #F21616;
}
.fa-primary,
.fa-secondary{
    transition: 400ms;
}










.totalCases{   
    background-image: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 6rem;
    background-size: 200%;
    animation: txt-animation 1.3s infinite alternate;
    
    
}

.newCases{
    background-image: var(--gradientb);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 5rem;
    background-size: 200%;
    animation: txt-animation 1.3s infinite alternate;

}

.totalDeaths{   
    background-image: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 6rem;
    background-size: 200%;
    animation: txt-animation 1.3s infinite alternate;
    
    
}

.totalRecovered{   
    background-image: var(--gradientc);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 6rem;
    background-size: 200%;
    animation: txt-animation 1.3s infinite alternate;
    
    
}
