main{
    font-family: 'Exo 2', sans-serif;
}

@keyframes txt-animation{
    0%{background-position: left;}
    100%{background-position: right;}
}

:root{
    --gradient: linear-gradient(
        45deg,
        #ff001e,
        #751a0f
    );

    --gradientb: linear-gradient(
        45deg,
        #bdc3c7,
        #2c3e50
    );

    --gradientc: linear-gradient(
        45deg,
        rgb(36, 255, 178),
        rgb(10, 126, 85)
    );
}



body{
    /* background-color: #424949 ; */
    background-color: lightgrey;
}

.totalCases{   
    background-image: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 6rem;
    background-size: 200%;
    animation: txt-animation 1.3s infinite alternate;
    
    
}

.newCases{
    background-image: var(--gradientb);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 5rem;
    background-size: 200%;
    animation: txt-animation 1.3s infinite alternate;

}

.totalDeaths{   
    background-image: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 6rem;
    background-size: 200%;
    animation: txt-animation 1.3s infinite alternate;
    
    
}

.totalRecovered{   
    background-image: var(--gradientc);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Exo 2', sans-serif;
    font-size: 6rem;
    background-size: 200%;
    animation: txt-animation 1.3s infinite alternate;
    
    
}