:root{
    font-size: 16px;
    font-family: 'Baloo Chettan 2', cursive;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #151518;
    --bg-secondary: #23232e;
}
body{
    color: black;
    background-color: #1e1e24;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    width: 0.75rem;
}
body::-webkit-scrollbar-track{
    background: #151518;

}
body::-webkit-scrollbar-thumb{
    background: #23232e;

}

 
main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item{
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;

}
.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
.link-text{
    display: none;
    margin-left: 1rem;
}
.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}
.navbar:hover{
    width: 16rem;
}
.navbar:hover .link-text{
    display: block;
}
#icon{
    fill: #d83cff;
}
.fa-primary{
    color: #ff7eee;
}

.fa-secondary{
    color: #df49a6;
}

.fa-primary,
.fa-secondary{
    transition: var(--transition-speed);
}

@media only screen and (max-width: 600px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;

    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    main{
        margin: 0;
    }
    

    .navbar:hover .link-text{
        display: none;
        
    }

}

@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;

    }

    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .link-text{
        display: inline;
        transition: opacity var(400ms);
    }
    
}
